<h1>Bienvenue sur le portail de gestion des produits usagés</h1>
<p>Vous souhaitez : </p>

<%= link_to "Accéder à la page des filières", chains_path, class: "btn btn-primary" %>
<%= link_to "Accéder à la page des équipements", equipment_index_path, class: "btn btn-primary" %>
