<div class="back-chains">
  <div class="row">
    <% @chains.each do |chain| %>
    <div class="col-xs-12 col-md-4 chain-container">
      <div class="card chain_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path chain.photo, crop: :fill %>')">
        <div class="chain-description">
          <div class="chain-title">
            <%= chain.name %>
          </div>
          <% if chain.risk == "DND" %>
          <div class="chain-risk safe">
            <% else %>
            <div class="chain-risk unsafe">
              <% end %>
              <%= chain.risk.to_s  %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="chain-add">
      <%= link_to "Créer une nouvelle filière", new_chain_path, class: "btn btn-primary" %>
    </div>
  </div>
